.main {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 50px auto 0px auto;
    min-height: 50vh;
}

.sideBar {
    width: 300px;
    min-height: 50vh;
    border: 3px solid black;
    border-radius: 25px;
    padding: 10px;
    margin-right: 50px;
}

.sideBar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-left: 0;
}

.sideBar li {
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sideBar li:hover {
    font-size: 26px;
}
/* edit profile start */
.editProfile {
    background-color: white;
    width: 850px;
    height: 100%;
}

#editP {
    display: flex;
    flex-direction: column;
    border: #24262b solid 3px;
    border-radius: 25px;
    width: 850px;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#editP label {
    margin-bottom: 5px;
}

#editP input,
#editP select {
    display: inline-block;
    padding: 8px;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 3px;
    width: 455px;
    text-align: center;
}

#editP select {
    text-align: center;
}

#editP input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    width: 200px;
    border-radius: 25px;
}

#editP input[type="submit"]:hover {
    background-color: #45a049;
}

.custom-file-input {
    color: transparent !important;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: "Select Profile Pic";
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
#profile-photo {
    padding: 12px 165px !important;
}

/* edit profile end */

/* add billing start */
.addBilling {
    background-color: white;
    width: 850px;
    height: 100%;
    display: none;
}

#addB {
    display: flex;
    flex-direction: column;
    border: #24262b solid 3px;
    border-radius: 25px;
    width: 850px;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#addB label {
    margin-bottom: 5px;
}

#addB input,
#addB select {
    padding: 8px;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 3px;
    width: 455px;
}
#addB select {
    text-align: center;
}

#addB input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    width: 200px;
    border-radius: 25px;
}

#addB input[type="submit"]:hover {
    background-color: #45a049;
}
/* add billing end */

/* edit billing start */
.editBilling {
    background-color: white;
    width: 850px;
    height: 100%;
    display: none;
}
#editB {
    display: flex;
    flex-direction: column;
    border: #24262b solid 3px;
    border-radius: 25px;
    width: 850px;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#editB label {
    margin-bottom: 5px;
}

#editB input,
#editB select {
    padding: 8px;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 3px;
    width: 455px;
}
#editB select {
    text-align: center;
}

#editB input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    width: 200px;
    border-radius: 25px;
    margin: 0px 15px;
}

#edit:hover {
    background-color: #45a049 !important;
}

#remove {
    background-color: rgb(176, 52, 52) !important;
}

#remove:hover {
    background-color: rgb(231, 31, 31) !important;
}

/* edit billing end */

/* chnage theme start */
.changeTheme {
    background-color: rgb(255, 255, 255);
    width: 850px;
    height: 100%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    border: #24262b solid 3px;
    border-radius: 25px;
    padding: 40px;
}

.changeTheme button {
    border: 5px solid white;
    margin: 22px;
    border-radius: 50%;

    width: 150px;
    height: 150px;
}

.changeTheme img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.changeTheme button:hover img {
    filter: brightness(80%);
}
/* change theme end */
