body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.carousel-space {
    width: 900px;
    height: 400px;
    overflow: hidden;
    border-radius: 25px;
}

.carousel-item img {
    border-radius: 25px;
}
