:root {
    --color-grey: #f0f0f0;
    --color-pink: rgb(193, 137, 69);
    --color-blue: rgb(99, 201, 243);
    --color-green: rgb(92, 195, 151);
}
/* body {
    background-color: var(--color-grey);
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

main {
    width: 1000px;
    margin: auto;
    /* margin-top: 100px; */
    height: 800px;
    padding: 50px 0px;
}

.Srow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--color-grey);
    border-radius: 25px;
}

.switch h3 {
    text-align: center !important;
    color: white;

    margin: 40px 0px;
}

.switch p {
    font-size: 14pt;
    color: white;
    font-weight: 600;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.form-section {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 15px;
    width: 1000px;
    height: 750px;
}
.toRight {
    animation: slideRight 0.5s ease-in-out forwards;
}
.toLeft {
    animation: slideLeft 0.5s ease-in-out forwards;
}

.login-form {
    width: 500px;
    height: 750px;
}
.signup-form {
    width: 500px;
    height: 750px;
}
.switch {
    color: white;
    padding: 20px;
    position: absolute;
    /* left: 15px; */
    height: 750px;
    width: 500px;
    background: var(--color-pink);
}
.logo {
    width: 280px !important;
    /* height: 60px; */
    border-radius: 50%;
    object-fit: fill;
}
.btn-switch {
    background: var(--color-pink);
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.btn-switch:hover {
    background: var(--color-blue);
}
.green {
    background: var(--color-green);
}

.form-select {
    min-width: 350px;
    width: auto;
    height: 35px;
    border-radius: 15px;
    border: 2px solid lightgray;
    padding: 0px 8px;
    font-size: 12pt;
    text-align: center;
}

.form-input {
    min-width: 350px;
    height: 35px;
    border-radius: 15px;
    border: 2px solid lightgray;
    padding: 8px;
    font-size: 12pt;
}
.register-link {
    margin-inline: 5px;
    color: var(--color-blue);
    text-decoration: underline;
    cursor: pointer;
}
@keyframes slideRight {
    0% {
        transform: translateX(0);
        background: var(--color-pink);
    }
    100% {
        transform: translateX(500px);

        background: var(--color-green);
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(500px);
        background: var(--color-green);
    }
    100% {
        transform: translateX(0px);
        background: var(--color-pink);
    }
}

#error,
#errorEmailExist,
#errorNotSamePass,
#errorPass {
    color: red;
}
