/* Nav Style Start */

header {
    padding: 10px 70px 10px 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 150;
}

header a img {
    width: 200px;
    grid-area: logo;
    /* margin-right: 20px; */
}

.search {
    grid-area: search;
    margin: auto 5px;
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
}

.search input {
    width: 600px;
    height: 46px;
    text-align: left;
    font-size: 14pt;
    /* border: 3px solid black; */
    border-radius: 25px;
    border: none;
    background-color: rgb(208, 212, 208);
    padding-left: 70px;
}
#searchicon {
    position: absolute;
    left: 27px;
    top: 15px;
}
#searchbtn {
    margin: auto auto;
    grid-area: lang;
    width: 120px;
    height: 46px;
    text-align: center;
    background-color: rgb(193, 137, 69);
    border-radius: 2px;
    border-radius: 29px;
    border: none;
    cursor: pointer;
    color: white;
    vertical-align: middle;
}
.account {
    grid-area: account;
    margin: auto auto;
    position: relative;
}

#accIcon {
    width: 30px;
    margin-right: 2px;
    /* position: absolute;
    z-index: 1;
    top: 9px;
    left: 14px; */
}

.dropdown-menu {
    width: 46px !important;
}

.dropdown-menu li {
    width: 100%;
    text-align: center;
    padding: auto;
    margin: auto;
}

.dropdown-item {
    width: 100%;
    margin: auto 0px;
    padding: auto 0px;
    transition: all 0.2s ease-in-out;
}
.dropdown-item:hover {
    background-color: rgb(193, 137, 69);
}

.btn {
    width: 150px;
    height: 46px;
    text-align: end;
    background-color: rgb(193, 137, 69);
    border: none;
}

.helpBtn {
    grid-area: help;
    margin: auto auto;
    position: relative;
}

#helpicon {
    /* position: absolute;
    top: 11px;
    left: 0px; */
    width: 28px;
    margin-left: 2px;
}

.helpBtn button {
    width: 100px;
    height: 46px;
    text-align: end;
    background-color: rgb(193, 137, 69);
    border-radius: 2px;
    padding: 0px 20px 0px 0px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    color: white;
}

.cartBtn {
    grid-area: cart;
    margin: auto auto;
    position: relative;
}

.cartBtn button {
    width: 100px;
    height: 46px;
    text-align: end;
    background-color: rgb(193, 137, 69);
    border-radius: 2px;
    padding: 0px 20px 0px 0px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    color: white;
    vertical-align: middle;
}

#cartIcon {
    width: 28px;
    margin-right: 5px;
}

/* Nav Style End */

/* Sorting Style Start */

main {
    margin: 0px 80px;
}

.upperSection {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.sorting label {
    font-size: 18px;
    margin-right: 10px;
}
.sorting select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #6ca4b9;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.sorting select:hover {
    border-color: rgb(86, 137, 155);
}

.sorting select:focus {
    border-color: #2d86a6;
    box-shadow: 0 0 5px#6ca4b9;
}
.sorting select option {
    background-color: #6ca4b9;
    color: #ffffff;
    text-align: center;
}

/* Sorting Style End */

/* Best Selling Products Style Start */

.bestSellingProducts {
    border: 3px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* height: 800px; */
    margin-top: 32px;
    /* margin-left: 80px;
    margin-right: 80px; */
}

.PSPcard-container {
    width: 100%;
    margin-top: 80px;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 3px solid black; */
    align-items: center;
    border-radius: 25px;
    /* overflow: scroll; */
    /* 
    
    overflow scroll means that if the content exceeded the 
    height or width , it will be scrollable 

    overflow-x hidden means that i am hiding the horizontal
    scrollbar

    */
    /* overflow-x: hidden; */
    padding-bottom: 50px;
}

.PSPcard-container::-webkit-scrollbar {
    width: 13px;
}

.PSPcard-container::-webkit-scrollbar-track {
    background: #f1f1f100;
}

.PSPcard-container::-webkit-scrollbar-thumb {
    background: #888;
}
.PSPcard-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.PSPcard {
    width: 300px;
    min-height: 450px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 8px;

    transition: transform 0.3s;
    border: 3px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
}

.PSPimgCard {
    display: flex;
    justify-content: center;
}

.PSPcard img {
    width: 250px !important;
    height: 280px;
}

.PSPcard h3 {
    margin: 15px 0px 20px 8px !important;
}

.PSPcard p {
    margin: 8px 5px !important;
    font-size: 18px;
}

.PSPratesStars {
    display: inline-block;
    margin-left: 5px;
    height: 25px !important;
}

.PSPratesStars img {
    width: 20px !important;
    height: 20px;
}

.PSPrating p {
    font-size: 20px;
    /* margin: 0px 0px 10px 5px !important; */
    vertical-align: middle;
}

.PSPreviewsCount {
    display: inline-block;
}

/* 3ala shan ya3ml transform */
.PSPcard:hover {
    transform: scale(1.05);
}

.PSPcard img {
    width: 100%;
}

.PSPcard h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.PSPcard p {
    margin-bottom: 20px;
}
/* Best Selling Products Style End */

/* Footer Style Start */

.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 100px;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
/* Footer Style End */
