* {
    box-sizing: unset !important;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#titleH1 {
    margin: 40px 0 20px 0;
    text-align: center;
    font-size: 2.5rem;
    color: #1b262c;
    font-family: "Open Sans", sans-serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* border-bottom: 4px solid #1b262c; */
    padding: 10px 0;
}

.allorders {
    width: 80%;
    margin: 10px auto 150px auto;
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5; /* New background color */
    background-image: linear-gradient(
        to right,
        #f5f5f5,
        #fbfbfb
    ); /* Subtle background gradient */
}

.allorders tr {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.Order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #fff; /* New background color */
    border: 1px solid #ddd; /* Added border */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
    padding: 10px;
}

.Order:hover {
    transform: scale(1.05);
    background-color: #eee;
}

.Onum,
.Odate,
.Ototal,
.Oproduct {
    margin: 0 5px;
    font-size: 1em; /* Slightly reduced font size */
    font-weight: normal; /* Removed bold weight */
    color: #2f4f4f;
}

.info {
    font-style: italic;
    color: #999;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
