main {
    margin: 60px auto;
    width: 30%;
    font-size: 17px;

    font-weight: 400;
}

form .input-box textarea {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 15px 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #c7bebe;
    /* border-bottom-width: 2.5px; */
    border-radius: 6px;
    transition: all 0.3s ease;
}

form button {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 30px 0px;
}

.btnDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btnDiv button {
    width: 100%;
}
