body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 700px;
    height: 700px;
}
h2 {
    display: inline;
}

.uppersection {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.middle {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-around;
}

#price {
    font-size: 20px;
    margin: 3px 0px 8px 0px;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ratesStars {
    display: inline-block;
    margin-top: 5px;
    height: 25px !important;
}

.ratesStars img {
    width: 20px !important;
    height: 20px;
}

.rating p {
    font-size: 20px;
    margin: 0px 0px 0px 10px;
    vertical-align: middle;
}

.reviewsCount {
    display: inline-block;
}

button {
    background-color: darkorange;
    height: 40px;
    color: white;
    padding: 5px;
    font-size: 18pt;
    border: none;
    border-radius: 25px;
}
