@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    background-color: bisque;
}

/* Nav Style Start */

header {
    padding: 10px 70px 10px 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 150;
}

header a img {
    width: 200px;
    grid-area: logo;
    /* margin-right: 20px; */
}

.search {
    grid-area: search;
    margin: auto 5px;
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
}

.search input {
    width: 600px;
    height: 46px;
    text-align: left;
    font-size: 14pt;
    /* border: 3px solid black; */
    border-radius: 25px;
    border: none;
    background-color: rgb(208, 212, 208);
    padding-left: 70px;
}
#searchicon {
    position: absolute;
    left: 27px;
    top: 15px;
}
#searchbtn {
    margin: auto auto;
    grid-area: lang;
    width: 120px;
    height: 46px;
    text-align: center;
    background-color: rgb(193, 137, 69);
    border-radius: 2px;
    border-radius: 29px;
    border: none;
    cursor: pointer;
    color: white;
    vertical-align: middle;
}
.account {
    grid-area: account;
    margin: auto auto;
    position: relative;
}

#accIcon {
    width: 30px;
    margin-right: 2px;
    /* position: absolute;
    z-index: 1;
    top: 9px;
    left: 14px; */
}

.dropdown-menu li {
    width: 100%;
    text-align: center;
    padding: auto;
    margin: auto;
}

.dropdown-item {
    width: 100%;
    margin: auto 0px;
    padding: auto 0px;
    transition: all 0.2s ease-in-out;
}
.dropdown-item:hover {
    background-color: rgb(193, 137, 69);
}

.btn {
    width: 150px;
    height: 46px;
    text-align: end;
    background-color: rgb(193, 137, 69);
    border: none;
}

.helpBtn {
    grid-area: help;
    margin: auto auto;
    position: relative;
}

#helpicon {
    /* position: absolute;
    top: 11px;
    left: 0px; */
    width: 28px;
    margin-left: 2px;
}

.helpBtn button {
    width: 100px;
    height: 46px;
    text-align: end;
    background-color: rgb(193, 137, 69);
    border-radius: 2px;
    padding: 0px 20px 0px 0px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    color: white;
}

.cartBtn {
    grid-area: cart;
    margin: auto auto;
    position: relative;
}

.cartBtn button {
    width: 100px;
    height: 46px;
    text-align: end;
    background-color: rgb(193, 137, 69);
    border-radius: 2px;
    padding: 0px 20px 0px 0px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    color: white;
    vertical-align: middle;
}

#cartIcon {
    width: 28px;
    margin-right: 5px;
}

/* Nav Style End */
/*------CartPage-----*/

.Pagetitle {
    margin-top: 40px;
}

.containerCart {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
}

.breadcrumb {
    font-size: 13px;
    margin-bottom: 2em;
}

.flexitem {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.flexitem li a {
    color: black;
}

.flexitem li {
    color: #453c5c;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}
.CartPage a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.CartPage ul {
    list-style: none;
}

.CartPage img {
    max-width: 100%;
    vertical-align: middle;
}

.CartPage strong {
    font-weight: 800;
}

.CartPage table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 200px;
}

.CartPage input::placeholder {
    font: inherit;
}

.CartPage h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.Productcart .thumbnail {
    position: relative;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 11px;
}

.Productcart .thumbnail img {
    transform: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.Productcart .formcart {
    width: 100%;
    margin: 0 auto;
}

.Productcart table thead th {
    vertical-align: middle;
    background-color: #f2f3f5;
}

.Productcart table :where(th, td) {
    padding: 2em 1em;
    text-align: center;
}

.Productcart table :where(th, td):first-child {
    text-align: left;
    /* padding-left: 2em; */
    width: 80px;
}

.Productcart table tbody td:first-child {
    padding-left: 0;
}

.Productcart table td :where(.content, .quantitycontrol, p) {
    margin: 0;
    padding: 0;
}

.Productcart .quantitycontrol :where(button, input) {
    width: 32px;
    height: 32px;
    padding: 0.25em;
    text-align: center;
    outline: 0;
    border: 0;
    background-color: transparent;
}

.Productcart .quantitycontrol button {
    cursor: pointer;
}

.Productcart table tbody tr {
    border-bottom: 1px solid #000;
}

.Productcart .item-remove {
    margin-left: 1em;
    flex: 1;
    justify-content: flex-end;
}

.Productcart .cartsummarystyled {
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    margin: auto;
    position: relative;
}
.cartsummarystyled {
    width: fit-content;
    margin: 2.5em 0 3em;
    text-align: center;
}

.cartsummarystyled .cart-total {
    background-color: #f2f3f5;
}

.cartsummarystyled .cart-total .mini-text {
    font-size: x-small;
    color: gray;
}

@media screen and (min-width: 992px) {
    .container {
        padding: 0 2em;
    }
}

.dropdown,
.dropdown button,
.dropdown-menu,
.modal-footer button {
    width: 100%;
    text-align: center;
}

.addressCart {
    display: inline-block;
    text-wrap: wrap;
    text-align: left;
}
.cart-total table {
    width: 100%;
}
.cart-total {
    width: 100%;
    /* height: 550px; */
    margin: 40px 0px;
}

.table th {
    width: 100px;
}

#changeAddress {
    text-align: center;
    width: 200px;
    height: 50px;
}

#Checkout {
    color: white;
    height: 100%;
    width: 200px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

.lowerSection {
    padding-left: 100px;
}

.lowerSection button {
    margin: 25px 10px;
    /* height: 100%; */
}

.flexwrap {
    flex-direction: column;
}

.formcart {
    width: 100%;
}

#carttable {
    width: 100%;
}

/*-------End------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
