/*table{
    border-style: solid;
    vertical-align: center;
    width: 600;
    height:200;
    font-family: courier;
    font-size: 28pt;
    font-style: bold;
    border-color: purple;
    border-width: 5px;
    text-align: center;
 
    
}
.f{
    border-color: green;
    border-width: 7px;
    border-style: dotted;
    text-align: center;
}
.s{
    border-color: blue;
    border-width: 5px;
    border-style: dashed;
}*/

/* el hagat el fo2 dih kolha baftkr biha hagt  */
body {
    font-family: "Arial", sans-serif;
    margin: 10px;
    padding: 0;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

.container {
    border: 3px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.containerWrapper {
    overflow: hidden; /* Hide anything outside the wrapper */
    border: 3px solid black;
    border-radius: 25px; /* Border radius for the wrapper */
    margin-right: 5px; /* Create space for the scrollbar on the right */
}

.card-container {
    width: 450px;
    height: 600px;

    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    flex-direction: column;
    /* border: 3px solid black; */
    align-items: center;
    border-radius: 25px;
    overflow: scroll;
    /* 
    
    overflow scroll means that if the content exceeded the 
    height or width , it will be scrollable 

    overflow-x hidden means that i am hiding the horizontal
    scrollbar

    */
    overflow-x: hidden;
    padding: 10px;
}

.card-container::-webkit-scrollbar {
    width: 13px;
}

.card-container::-webkit-scrollbar-track {
    background: #f1f1f100;
}

.card-container::-webkit-scrollbar-thumb {
    background: #888;
}
.card-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card {
    width: 300px;
    min-height: 450px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 8px;

    transition: transform 0.3s;
    border: 3px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
}

.imgCard {
    display: flex;
    justify-content: center;
}

.card img {
    width: 250px !important;
    height: 320px;
}

.card h3 {
    margin: 15px 0px 20px 8px !important;
}

.card p {
    margin: 8px 5px !important;
    font-size: 18px;
}

.ratesStars {
    display: inline-block;
    margin-top: 5px;
    height: 25px !important;
}

.ratesStars img {
    width: 20px !important;
    height: 20px;
}

.rating p {
    font-size: 20px;
    margin: 0px 0px 10px 5px !important;
    vertical-align: middle;
}

.reviewsCount {
    display: inline-block;
}

/* 3ala shan ya3ml transform */
.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}
